{% extends 'admin/admin.html.twig' %}

{% block title "Tous les icebergs" %}

{% block body %}

<h1>Tous les icebergs</h1>

<p>
<a class="btn btn-primary btn-sm" href="{{ path('admin.iceberg.create') }}">Ajouter un iceberg</a>
</p>

<ul>
<table class="table">

<thead>
<tr>
<th>Titre</th>
<th style="width: 200px">Actions</th>
</tr>
</thead>

<tbody>

{% for iceberg in iceberg %}
<tr>
<td>
<a href="{{ path('admin.iceberg.edit', {id: iceberg.id}) }}">{{ iceberg.titre }}</a>
</td>

<td>
<div class="d-flex gap-1">
<a class="btn btn-primary btn-sm" href="{{ path('admin.iceberg.edit', {id: iceberg.id}) }}">Editer</a>
<form action="{{ path('admin.iceberg.delete', {id: iceberg.id}) }}" method="post">
<input type="hidden" name="_method" value="DELETE">
<button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
</form>
</td>
</div>
</tr>

{% endfor %}
</tbody>
</ul>
</table>

{% endblock %}